# Expo generated
.expo/
.expo-shared/
android/
ios/
dist/
web-build/

# Dependencies
node_modules/

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Env
.env
.env.*
# Firebase config (keep as downloaded)
google-services.json
GoogleService-Info.plist
