<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDmQ7432zSTwU3QyYYuLV6O8xBGYa2xITc</string>
	<key>GCM_SENDER_ID</key>
	<string>361123145567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gatepassng.gms</string>
	<key>PROJECT_ID</key>
	<string>gatepass-6d009</string>
	<key>STORAGE_BUCKET</key>
	<string>gatepass-6d009.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361123145567:ios:3ac0d8fc4658afdfddb8ea</string>
</dict>
</plist>